<h1>Projects</h1>
<ol>
  <% @projects.each do |project| %>
    <li>
      <h3><%= link_to project do %><%= project.name %><% end %></h3>
      <p><%= project.deadline %></p>
      <p>Completed: <%= check_box_tag :completed, 'completed', project.completed %></p>
    </li>
  <% end %>
</ol>
<%= link_to "New Project", new_project_path %>
